$main-darker-color:rgb(255, 164, 178);
$main-dark-color:rgb(252, 205, 212);
$main-light-color: rgb(255, 240, 242);
$second-lightcolor: rgb(255, 248, 249);

$main-font-dark-color: rgb(226, 48, 78);
$main-font-color: rgb(235, 88, 112);
